<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <title>Flowly</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Flowly</a>
        <form>
            <input id="search" type="search" placeholder="Szukaj..." autofocus required />
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>    
        </form>
        <ul class="navigation">
            <li class="statistics"><a href="#">Statistics</a></li>
            <li><a href="#">Test</a></li>
        </ul>
        <div class="user-profile-button">Log in</div>
    </header>

    <div class="grid">
        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>

        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>

        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>

        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>

        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>

        <div class="col">
            <div class="card-top-part">
                <img class="card-user-image-icon" src = "/images/roman.jpg" alt="My Happy SVG"/>
                <div class="card-top-info">
                    <div class="user-name">Dawid</div>
                    <div class="user-sex">Kobieta</div>
                </div>
                <img class="card-user-follow-icon" src = "/images/iconmonstr-eye-x-lined.svg" alt="My Happy SVG"/>
            </div>
            <div class="user-status">User status:</div>
            <div class="user-age">Wiek:</div>

            <div class="badges-container">
                <a href="#" class="badge">Kierowca kat. B</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Prace porzadkowe</a>
                <a href="#" class="badge">Opieka osob starszych</a>
                <a href="#" class="badge">Elektronik</a>
                <a href="#" class="badge">Fotograf</a>
                <a href="#" class="badge">Kierowca kat. B</a>
            </div>
            
            <div class="card-bottom-part">
                <div class="lupe-container"><img class="card-icon-lupe" src = "/images/iconmonstr-magnifier-3-240.png" alt="My Happy SVG"/></div>
                <div class="star-container">
                    <span>4,4</span>
                    <span>(0)</span>
                    <img class="card-icon-star" src = "/images/iconmonstr-star-7-240.png" alt="My Happy SVG"/>
                </div>
                <div class="plus-container"><img class="card-icon-plus" src = "/images/iconmonstr-plus-lined.svg" alt="My Happy SVG"/></div>
            </div>
        </div>
    </div>
    <div class="panele">
        <div class="prawy-panel">
            
            <div class="title">
                Zapytanie
            </div>

            <div class="content">
                Musisz być zalogowany by zmieniać treść przesyłanej wiadomości.
            </div>

        </div>

        <div class="lewy-panel">

            <div class="title">
                Filtry
            </div>

            <div class="content">
                Tu bedzie mozna edytowac filtry
            </div>

        </div>
    </div>



</body>

<footer>
  <div class="foot">
    <p>&copy; 2023 Your Website Name. All rights reserved.</p>
  </div>
</footer>

</html>